{% extends 'base.html.twig' %}

{% block title %}Newsletter{% endblock %}

{% block body %}
    <h1>Infolettre</h1>

    <div class="row">
        <div class="col-4">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ newsletter.id }}</td>
                </tr>
                <tr>
                    <th>Prévue pour le</th>
                    <td>{{ newsletter.scheduledFor ? newsletter.scheduledFor|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Envoyée le</th>
                    <td>{{ newsletter.sentAt ? newsletter.sentAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('newsletter_index') }}">retour à la liste</a>

            <a href="{{ path('newsletter_edit', {'id': newsletter.id}) }}">modifier</a>

            {{ include('newsletter/_delete_form.html.twig') }}
        </div>
        <div class="col-8">
            <iframe class="w-100 border border-1 rounded p-3" style="min-height: 600px" title="Aperçu" src="{{ path('newsletter_preview_html', {'id': newsletter.id}) }}"></iframe>
        </div>
    </div>
{% endblock %}
