{% extends 'base.html.twig' %}

{% block title %}Liste des actualités{% endblock %}

{% block body %}
    <h1>
        Prochaines actualités
        <a href="{{ path('news_new') }}" class="btn btn-sm btn-primary">Partager mon actualité</a>
    </h1>

    {{ _self.news_table(news|filter(n => not n.newsletter)) }}

    <h2>Actualités déjà envoyées</h2>

    {{ _self.news_table(news|filter(n => n.newsletter)) }}

{% endblock %}

{% macro news_table(news) %}
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Auteur</th>
            <th>Titre</th>
            <th>Extrait</th>
            <th>Contenu</th>
            <th>Date de l'évènement</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td></td>
                <td>{{ news.author }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.abstract }}</td>
                <td>{{ news.content|u.truncate(50, '...', false) }}</td>
                <td>{{ news.eventDate ? news.eventDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">lire</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucune actualité</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}