<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% set route_name = app.request.attributes.get('_route') %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="{{ asset('build/crowd-news-logo.png') }}" alt="Logo Crowd News" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {{ route_name == "home" ? "active" }}" aria-current="page" href="{{ path('home') }}">
                                <span class="fas fa-home fa-fw"></span>
                                Accueil
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="newsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fas fa-newspaper fa-fw"></span> Actualités
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="newsDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('news_index') }}">
                                        <span class="fas fa-clock-rotate-left fa-fw"></span> Dernières actualités
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('news_new') }}">
                                        <span class="fas fa-bullhorn fa-fw"></span> Partager mon actualité
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="newsletterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fas fa-envelopes-bulk"></span> Infolettres
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="newsletterDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('newsletter_index') }}">
                                        <span class="fas fa-archive fa-fw"></span> Archives
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('newsletter_next') }}">
                                        <span class="fas fa-square-plus fa-fw"></span>
                                        Prochaine infolettre
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fas fa-gears"></span> Administration
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('user_index') }}">
                                        <span class="fas fa-users fa-fw"></span> Utilisateurs
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <a href="{{ path('news_new') }}" class="btn btn-primary">
                            <em class="fa-solid fa-bullhorn"></em> Partager mon actualité
                        </a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user }} <span class="fas fa-user fa-fw"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item disabled" href="#">
                                        <span class="fas fa-gears fa-fw"></span> Réglages
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('logout') }}">
                                        <span class="fas fa-right-from-bracket fa-fw"></span> Se déconnecter
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>